<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="dashboard_header">
      <a href="/"><strong> Expense Tracker</strong></a>
      <nav class="dash-nav">
        <a href="/users/login" ><button class="login">login</button></a>
        <a href="/users/register" ><button class="login">Sign up</button></a>
      </nav>
    </header>
    <figure>
      <img src="/images/envato.png" alt="" width="100%" >
    </figure>
  </body>
</html>
